In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
from collections import Counter

In [7]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
716,tt0410377,37000000,100076342,Nim's Island,Abigail Breslin|Jodie Foster|Gerard Butler|Mic...,Jennifer Flackett|Mark Levin,Your adventure starts here.,A young girl inhabits an isolated island with ...,96,Adventure|Comedy|Family|Fantasy,Walden Media,4/3/2008,5.5,2008
59,tt1390411,100000000,93820758,In the Heart of the Sea,Chris Hemsworth|Benjamin Walker|Cillian Murphy...,Ron Howard,Based on the incredible true story that inspir...,"In the winter of 1820, the New England whaling...",122,Thriller|Drama|Adventure|Action|History,Imagine Entertainment|Spring Creek Productions...,11/20/2015,6.4,2015
604,tt1099212,37000000,392616625,Twilight,Kristen Stewart|Robert Pattinson|Billy Burke|T...,Catherine Hardwicke,"When you can live forever, what do you live for?",When Bella Swan moves to a small town in the P...,122,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Maverick Films|Imprint En...,11/20/2008,5.8,2008
591,tt0250310,11000000,23978402,Corky Romano,Chris Kattan|Vinessa Shaw|Peter Falk|Peter Ber...,Rob Pritts,Undercover and Out The Way!,"Corky Romano is a bumbling, simpleton, veterin...",86,Action|Comedy|Crime,Robert Simonds Productions|Touchstone Pictures,10/12/2001,4.4,2001
1384,tt0376108,45000000,16809014,Rebound,Martin Lawrence|Wendy Raquel Robinson|Breckin ...,Steve Carr,A comedy where old school ...meets middle school,An acclaimed college hoops coach is demoted to...,103,Comedy|Family,Twentieth Century Fox Film Corporation|Robert ...,7/1/2005,5.5,2005

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

def dict_count(serious):
    # подсчитывает все элементы в серии. Возвращает словарь
    new_list = []
    count = {}
    for row in serious:
        new_list = list(row.split('|'))
        for genre in new_list:
            if genre in count:
                count[genre] += 1
            else:
                count[genre] = 1
    count = sorted(count.items(), key=lambda pair: pair[1] )
    return count

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'tt1298650	Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data.loc[data.loc[:,'budget'] == data.loc[:,'budget'].max(), ['imdb_id', 'original_title'] ]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157	tt0279111	Gods and Generals'

In [9]:
data.loc[data.loc[:,'runtime'] == data.loc[:,'runtime'].max(), ['imdb_id', 'original_title'] ]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data.loc[data.loc[:,'runtime'] == data.loc[:,'runtime'].min(), ['imdb_id', 'original_title'] ]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

In [11]:
answers['3'] = '768	tt1449283	Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [12]:
data.loc[:,'runtime'].mean()

109.6585494970884

In [13]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.loc[:,'runtime'].median()

107.0

In [15]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
Big_Profit_Ind = (data.loc[:, 'revenue'] - data.loc[:,'budget']).sort_values().index[-1]
data.iloc[Big_Profit_Ind,[0, 3]]

imdb_id           tt0499549
original_title       Avatar
Name: 239, dtype: object

In [17]:
answers['6'] = 'tt0499549 Avatar'

# 7. Какой фильм самый убыточный?

In [18]:
Min_Profit_Ind = (data.loc[:, 'revenue'] - data.loc[:,'budget']).sort_values().index[0]
data.iloc[Min_Profit_Ind,[0,3]]

imdb_id                 tt1210819
original_title    The Lone Ranger
Name: 1245, dtype: object

In [19]:
answers['7'] = 'tt1210819 The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
(data.loc[data.loc[:, 'revenue'] > data.loc[:, 'budget'], :]).shape

(1478, 14)

In [21]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data9 = data.loc[data.loc[:,'release_year'] == 2008]
index9 = (data9.loc[:,'revenue'] -data9.loc[:, 'budget']).sort_values().index[-1]
data.iloc[index9]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
Name: 599, dtype: object

In [23]:
answers['9'] = 'tt0468569 The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
data10 = data.loc[(data.loc[:,'release_year'] >= 2012) & (data.loc[:,'release_year'] <= 2014)]
index10 = (data10.loc[:,'revenue'] -data10.loc[:, 'budget']).sort_values().index[0]
data.iloc[index10]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
Name: 1245, dtype: object

In [25]:
answers['10'] = 'tt1210819 The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [26]:
dict_count(data.loc[:, 'genres'])[-1]

('Drama', 782)

In [27]:
answers['11'] = "('Drama', 782)"

ВАРИАНТ 2

In [28]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
data12 = data.loc[data.loc[:, 'revenue'] > data.loc[:, 'budget']]
dict_count(data12.loc[:, 'genres'])

[('Documentary', 7),
 ('Western', 12),
 ('War', 41),
 ('History', 46),
 ('Music', 47),
 ('Mystery', 119),
 ('Animation', 120),
 ('Horror', 150),
 ('Fantasy', 188),
 ('Science Fiction', 195),
 ('Family', 226),
 ('Crime', 231),
 ('Romance', 242),
 ('Adventure', 337),
 ('Action', 444),
 ('Thriller', 446),
 ('Comedy', 551),
 ('Drama', 560)]

In [30]:
answers['12'] = "'Drama', 560"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
data13 = data.copy()
data13.director = data13.director.str.split('|')
data13 = data13.explode('director')
s = data13.groupby(data13.loc[:, 'director'])['revenue'].sum().idxmax()
s

'Peter Jackson'

In [32]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
data14 = data.copy()
data14.director = data14.director.str.split('|')
data14 = data14.explode('director')
data_action = data14[data14.genres.str.contains('Action')]
data_action.director.value_counts()

Robert Rodriguez         9
Michael Bay              7
Paul W.S. Anderson       7
Antoine Fuqua            6
Ridley Scott             6
                        ..
David Bowers             1
Corey Yuen Kwai          1
Wayne Kramer             1
Carl Rinsch              1
Christopher McQuarrie    1
Name: director, Length: 364, dtype: int64

In [34]:
answers['14'] = 'Robert Rodriguez '

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
data15 = data.copy()
data15.cast = data15.cast.str.split('|')
data15 = data15.explode('cast')
q15 = data15.groupby(data15.loc[:, 'cast'])['revenue'].sum().idxmax()
q15

'Emma Watson'

In [43]:
answers['15'] = 'Emma Watson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
data16 = data.copy()
data16 = data16[data.budget > data.budget.mean()]
data16.cast = data16.cast.str.split('|')
data16 = data16.explode('cast')
data16.cast.value_counts()

In [45]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [46]:
data17 = data.copy()
data17 = data17[data17.cast.str.contains('Nicolas Cage')]
data17.genres = data17.genres.str.split('|')
data17 = data17.explode('genres')
data17.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

In [47]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [4]:
data18 = data.copy()
data18['costs'] = data18.revenue - data18.budget
data18.production_companies = data18.production_companies.str.split('|')
data18 = data18.explode('production_companies')
data18 = data18.loc[data.loc[:, 'production_companies'] == 'Paramount Pictures']
data18.sort_values('costs', ascending=True)

NameError: name 'data' is not defined

In [51]:
answers['18'] = 'Domestic Disturbance'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [59]:
data19 = data.copy()
data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [ ]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [60]:
data20 = data.copy()
data20 = data20[data20.production_companies.str.contains('Warner Bros')]
data20.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

In [ ]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [37]:
data21 = data.copy()
data21.release_date = pd.to_datetime(data21.loc[:,'release_date'])
data21['month'] = data21.release_date.dt.month
data21.groupby(['month'])['original_title'].count().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

In [ ]:
answer['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [41]:
data22 = data.copy()
data22.release_date = pd.to_datetime(data22.loc[:,'release_date'])
data22['month'] = data22.release_date.dt.month
data22 = data22[(data22.loc[:, 'month'] >= 6) & (data22.loc[:, 'month'] <=8)]
data22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               450 non-null    object
 1   budget                450 non-null    int64
 2   revenue               450 non-null    int64
 3   original_title        450 non-null    object
 4   cast                  450 non-null    object
 5   director              450 non-null    object
 6   tagline               450 non-null    object
 7   overview              450 non-null    object
 8   runtime               450 non-null    int64
 9   genres                450 non-null    object
 10  production_companies  450 non-null    object
 11  release_date          450 non-null    datetime64[ns]
 12  vote_average          450 non-null    float64
 13  release_year          450 non-null    int64
 14  month                 450 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 56.2+ KB

In [ ]:
answer['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
data23 = data.copy()
data23.release_date = pd.to_datetime(data23.loc[:,'release_date'])
data23['month'] = data23.release_date.dt.month
data23 = data23[(data23.loc[:, 'month']== 2) | (data23.loc[:, 'month']== 1) | (data23.loc[:, 'month'] == 12)]
data23.director = data23.director.str.split('|')
data23 = data23.explode('director')
data23.groupby(['director'])['original_title'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: original_title, Length: 358, dtype: int64

In [ ]:
answer['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [145]:
data24 = data.copy()
data24['length'] = data24.original_title.apply(lambda x: len(x))
data24.production_companies = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
len_sum = data24.groupby('production_companies')['length'].sum().sort_values(ascending=False)
companies = data24.production_companies.value_counts()
(len_sum / companies).sort_values()

Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Length: 1771, dtype: float64

In [ ]:
answers['24'] = 'Four By Two Productions '

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [150]:
data25 = data.copy()
data25.overview= data25.overview.str.split()
data25['len_word'] = data25.overview.apply(lambda x: len(x))
data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
sum_word = data25.groupby('production_companies')['len_word'].sum().sort_values(ascending=False)

companies25 = data25.production_companies.value_counts()
(sum_word / companies25).sort_values()

Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Henceforth                                13.0
Phantom Four                              13.0
London Boulevard                          13.0
                                         ...
Brookwell-McNamara Entertainment         156.0
Heineken Branded Entertainment           159.0
98 MPH Productions                       159.0
Room 9 Entertainment                     161.0
Midnight Picture Show                    175.0
Length: 1771, dtype: float64

In [ ]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)