In [43]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [44]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1442,tt0407887,90000000,289847354,The Departed,Leonardo DiCaprio|Matt Damon|Jack Nicholson|Ma...,Martin Scorsese,Lies. Betrayal. Sacrifice. How far will you ta...,"To take down South Boston's Irish Mafia, the p...",151,Drama|Thriller|Crime,Vertigo Entertainment|Media Asia Films|Warner ...,10/5/2006,7.7,2006
182,tt2397535,5500000,3000000,Predestination,Ethan Hawke|Sarah Snook|Noah Taylor|Christophe...,Michael Spierig|Peter Spierig,To save the future he must reshape the past.,Predestination chronicles the life of a Tempor...,97,Science Fiction|Thriller,Screen Australia|Screen Queensland|Blacklab En...,8/28/2014,7.2,2014
192,tt1020072,20000000,66787908,Selma,David Oyelowo|Tom Wilkinson|Carmen Ejogo|AndrÃ...,Ava DuVernay,"Martin Luther King, Lyndon Baines Johnson and ...","""Selma,"" as in Alabama, the place where segreg...",127,History|Drama,Plan B Entertainment|Harpo Films|Celador Films...,12/25/2014,7.5,2014
1417,tt0380389,30000000,27610873,Goal!: The Dream Begins,Kuno Becker|Alessandro Nivola|Anna Friel|Steph...,Danny Cannon,Every Dream Has A Beginning,"Like millions of kids around the world, Santia...",118,Drama,Touchstone Pictures|Milkshake Films|Hargitay &...,6/6/2005,6.5,2005
136,tt2872718,8500000,38697217,Nightcrawler,Jake Gyllenhaal|Rene Russo|Riz Ahmed|Bill Paxt...,Dan Gilroy,The city shines brightest at night,"When Lou Bloom, desperate for work, muscles in...",117,Crime|Drama|Thriller,Bold Films|Sierra / Affinity,10/23/2014,7.6,2014

In [45]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [46]:
answers = {} # создадим словарь для ответов

data9 = data.loc[data.loc[:,'release_year'] == 2008]
data10 = data.loc[(data.loc[:,'release_year'] >= 2012) & (data.loc[:,'release_year'] <= 2014)]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [47]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'tt1298650	Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [48]:
data.loc[data.loc[:,'budget'] == data.loc[:,'budget'].max(), ['imdb_id', 'original_title'] ]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [49]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [50]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157	tt0279111	Gods and Generals'

In [51]:
data.loc[data.loc[:,'runtime'] == data.loc[:,'runtime'].max(), ['imdb_id', 'original_title'] ]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [52]:
data.loc[data.loc[:,'runtime'] == data.loc[:,'runtime'].min(), ['imdb_id', 'original_title'] ]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

In [53]:
answers['3'] = '768	tt1449283	Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [54]:
data.loc[:,'runtime'].mean()

109.6585494970884

In [55]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [56]:
data.loc[:,'runtime'].median()

107.0

In [57]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [58]:
Big_Profit_Ind = (data.loc[:, 'revenue'] - data.loc[:,'budget']).sort_values().index[-1]
data.iloc[Big_Profit_Ind,[0, 3]]

imdb_id           tt0499549
original_title       Avatar
Name: 239, dtype: object

In [59]:
answers['6'] = 'tt0499549 Avatar'

# 7. Какой фильм самый убыточный?

In [60]:
Min_Profit_Ind = (data.loc[:, 'revenue'] - data.loc[:,'budget']).sort_values().index[0]
data.iloc[Min_Profit_Ind,[0,3]]

imdb_id                 tt1210819
original_title    The Lone Ranger
Name: 1245, dtype: object

In [61]:
answers['7'] = 'tt1210819 The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [62]:
(data.loc[data.loc[:, 'revenue'] > data.loc[:, 'budget'], :]).shape

(1478, 14)

In [63]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [64]:
index9 = (data9.loc[:,'revenue'] -data9.loc[:, 'budget']).sort_values().index[-1]
data.iloc[index9]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
Name: 599, dtype: object

In [65]:
answers['9'] = 'tt0468569 The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [66]:
index10 = (data10.loc[:,'revenue'] -data10.loc[:, 'budget']).sort_values().index[0]
data.iloc[index10]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
Name: 1245, dtype: object

In [68]:
answers['10'] = 'tt1210819 The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [69]:
answers

{'1': 'tt1298650\tPirates of the Caribbean: On Stranger Tides',
 '2': '1157\ttt0279111\tGods and Generals',
 '3': '768\ttt1449283\tWinnie the Pooh',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'tt0499549 Avatar',
 '7': 'tt1210819 The Lone Ranger',
 '8': '1478',
 '9': 'tt0468569 The Dark Knight',
 '10': 'tt1210819 The Lone Ranger'}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)