In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import itertools as it
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
890,tt0298130,48000000,249348933,The Ring,Naomi Watts|Martin Henderson|David Dorfman|Bri...,Gore Verbinski,"Before you die, you see.",It sounded like just another urban legend: A v...,115,Horror|Mystery|Thriller,DreamWorks SKG|BenderSpink|Parkes+MacDonald Im...,10/18/2002,6.4,2002
725,tt0800369,150000000,444115007,Thor,Chris Hemsworth|Natalie Portman|Tom Hiddleston...,Kenneth Branagh,Two worlds. One hero.,"Against his father Odin's will, The Mighty Tho...",115,Adventure|Fantasy|Action,Marvel Studios|Marvel Entertainment,4/21/2011,6.5,2011
100,tt2967224,35000000,51680201,Hot Pursuit,Reese Witherspoon|SofÃ­a Vergara|Michael Mosle...,Anne Fletcher,Armed and Sort-of Dangerous.,An uptight by-the-book cop must protect the wi...,87,Action|Crime|Comedy,New Line Cinema|Warner Bros.|Metro-Goldwyn-May...,5/8/2015,5.5,2015
182,tt2397535,5500000,3000000,Predestination,Ethan Hawke|Sarah Snook|Noah Taylor|Christophe...,Michael Spierig|Peter Spierig,To save the future he must reshape the past.,Predestination chronicles the life of a Tempor...,97,Science Fiction|Thriller,Screen Australia|Screen Queensland|Blacklab En...,8/28/2014,7.2,2014
355,tt0891592,50000000,12764201,Street Fighter: The Legend of Chun-Li,Kristin Kreuk|Chris Klein|Neal McDonough|Micha...,Andrzej Bartkowiak,Some fight for power. Some fight for us.,"When a teenager, Chun-Li witnesses the kidnapp...",97,Action|Adventure|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Hyde Pa...,2/27/2009,4.1,2009

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

def dict_count(serious):
    # подсчитывает все элементы в серии. Возвращает словарь
    new_list = []
    count = {}
    for row in serious:
        new_list = list(row.split('|'))
        for genre in new_list:
            if genre in count:
                count[genre] += 1 
            else:
                count[genre] = 1 
    count = sorted(count.items(), key=lambda pair: pair[1] ) # сортировка словаря по значениям
    return count

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
data.loc[data.loc[:,'budget'] == data.loc[:,'budget'].max(), ['imdb_id', 'original_title'] ]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

In [7]:
answers['1'] = 'tt1298650	Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157	tt0279111	Gods and Generals'

In [9]:
data.loc[data.loc[:,'runtime'] == data.loc[:,'runtime'].max(), ['imdb_id', 'original_title'] ]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data.loc[data.loc[:,'runtime'] == data.loc[:,'runtime'].min(), ['imdb_id', 'original_title'] ]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

In [11]:
answers['3'] = '768	tt1449283	Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [12]:
data.loc[:,'runtime'].mean()

109.6585494970884

In [13]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.loc[:,'runtime'].median()

107.0

In [15]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
Big_Profit_Ind = (data.loc[:, 'revenue'] - data.loc[:,'budget']).sort_values().index[-1]
data.iloc[Big_Profit_Ind,[0, 3]]

imdb_id           tt0499549
original_title       Avatar
Name: 239, dtype: object

In [17]:
answers['6'] = 'tt0499549 Avatar'

# 7. Какой фильм самый убыточный?

In [18]:
Min_Profit_Ind = (data.loc[:, 'revenue'] - data.loc[:,'budget']).sort_values().index[0]
data.iloc[Min_Profit_Ind,[0,3]]

imdb_id                 tt1210819
original_title    The Lone Ranger
Name: 1245, dtype: object

In [19]:
answers['7'] = 'tt1210819 The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
(data.loc[data.loc[:, 'revenue'] > data.loc[:, 'budget'], :]).shape

(1478, 14)

In [21]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data9 = data.loc[data.loc[:,'release_year'] == 2008]
index9 = (data9.loc[:,'revenue'] - data9.loc[:, 'budget']).sort_values().index[-1]
data.iloc[index9]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
Name: 599, dtype: object

In [23]:
answers['9'] = 'tt0468569 The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
data10 = data.loc[(data.loc[:,'release_year'] >= 2012) & (data.loc[:,'release_year'] <= 2014)] 
index10 = (data10.loc[:,'revenue'] - data10.loc[:, 'budget']).sort_values().index[0]
data.iloc[index10]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
Name: 1245, dtype: object

In [25]:
answers['10'] = 'tt1210819 The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [26]:
dict_count(data.loc[:, 'genres'])[-1]

('Drama', 782)

In [27]:
answers['11'] = "('Drama', 782)"

ВАРИАНТ 2

In [28]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
data12 = data.loc[data.loc[:, 'revenue'] > data.loc[:, 'budget']]
dict_count(data12.loc[:, 'genres'])

[('Documentary', 7),
 ('Western', 12),
 ('War', 41),
 ('History', 46),
 ('Music', 47),
 ('Mystery', 119),
 ('Animation', 120),
 ('Horror', 150),
 ('Fantasy', 188),
 ('Science Fiction', 195),
 ('Family', 226),
 ('Crime', 231),
 ('Romance', 242),
 ('Adventure', 337),
 ('Action', 444),
 ('Thriller', 446),
 ('Comedy', 551),
 ('Drama', 560)]

In [30]:
answers['12'] = "'Drama', 560"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
data13 = data.copy()
data13.director = data13.director.str.split('|')
data13 = data13.explode('director')
s = data13.groupby(data13.loc[:, 'director'])['revenue'].sum().idxmax()
s

'Peter Jackson'

In [32]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
data14 = data.copy()
data14.director = data14.director.str.split('|')
data14 = data14.explode('director') # преобразование строки к виду: 1 элемент в ячейке
data_action = data14[data14.genres.str.contains('Action')]
data_action.director.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Peter Spierig         1
Jimmy Hayward         1
Noam Murro            1
James Gunn            1
Ron Underwood         1
Name: director, Length: 364, dtype: int64

In [34]:
answers['14'] = 'Robert Rodriguez '

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
data15 = data.copy()
data15.cast = data15.cast.str.split('|')
data15 = data15.explode('cast')
q15 = data15.groupby(data15.loc[:, 'cast'])['revenue'].sum().idxmax()
q15

'Emma Watson'

In [36]:
answers['15'] = 'Emma Watson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
data16 = data.copy()
data16 = data16[data.budget > data.budget.mean()]
data16.cast = data16.cast.str.split('|')
data16 = data16.explode('cast')
data16.cast.value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Ben Mendelsohn        1
Ayelet Zurer          1
Deobia Oparei         1
Mackenzie Crook       1
Leighton Meester      1
Name: cast, Length: 1505, dtype: int64

In [38]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
data17 = data.copy()
data17 = data17[data17.cast.str.contains('Nicolas Cage')] # фильмы только с Nicolas Cage
data17.genres = data17.genres.str.split('|')
data17 = data17.explode('genres')
data17.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

In [40]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
data18 = data.copy()
data18['costs'] = data18.revenue - data18.budget # создине колонки с убытками
data18.production_companies = data18.production_companies.str.split('|')
data18 = data18.explode('production_companies')
data18 = data18.loc[data.loc[:, 'production_companies'] == 'Paramount Pictures']
data18.sort_values('costs', ascending=True)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,costs
587,tt0249478,75000000,54249294,Domestic Disturbance,John Travolta|Vince Vaughn|Teri Polo|Matt O'Le...,Harold Becker,He will do anything to protect his family.,A divorced father discovers that his 12-year-o...,89,Mystery|Thriller|Crime,Paramount Pictures,10/30/2001,5.4,2001,-20750706
436,tt0964517,25000000,9190869,The Fighter,Mark Wahlberg|Christian Bale|Amy Adams|Melissa...,David O. Russell,Every dream deserves a fighting chance.,"The Fighter, is a drama about boxer ""Irish"" Mi...",116,Drama,Paramount Pictures,12/17/2010,7.1,2010,-15809131
961,tt0261289,29000000,16930185,Serving Sara,Matthew Perry|Elizabeth Hurley|Vincent Pastore...,Reginald Hudlin,The One Thing That Could Bring Them Together I...,Serving Sara is a 2002 romantic comedy film wh...,100,Comedy|Romance,Paramount Pictures,8/20/2002,5.1,2002,-12069815
1533,tt0408985,45000000,38399961,Last Holiday,Queen Latifah|LL Cool J|Timothy Hutton|Giancar...,Wayne Wang,She always thought she was somebody special......,"After she's diagnosed with a terminal illness,...",112,Adventure|Comedy|Drama,Paramount Pictures,1/13/2006,6.4,2006,-6600039
1429,tt0408524,30000000,34252847,Bad News Bears,Billy Bob Thornton|Ken Medlock|Aman Johal|Greg...,Richard Linklater,The bases are loaded... so is the coach.,Morris Buttermaker is a burned-out minor leagu...,113,Comedy|Family,Paramount Pictures,7/22/2005,5.5,2005,4252847
896,tt0253754,60000000,67312826,Star Trek: Nemesis,Patrick Stewart|Jonathan Frakes|LeVar Burton|B...,Stuart Baird,A generation's final journey... begins.,En route to the honeymoon of William Riker to ...,117,Science Fiction|Action|Adventure|Thriller,Paramount Pictures,12/12/2002,6.1,2002,7312826
924,tt0264472,45000000,94935764,Changing Lanes,Ben Affleck|Samuel L. Jackson|Kim Staunton|Ton...,Roger Michell,"An ambitious lawyer, a desperate father, they ...",A rush-hour fender-bender on New York City's c...,89,Action|Adventure|Crime|Thriller,Paramount Pictures,4/7/2002,5.7,2002,49935764
911,tt0322802,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,6.2,2002,59282312
1518,tt0493430,11000000,72778712,Jackass Number Two,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Guess who just made number two?,Jackass Number Two is a compilation of various...,95,Action|Comedy|Documentary,Paramount Pictures,9/22/2006,6.4,2006,61778712
1104,tt0332379,35000000,131282949,The School of Rock,Jack Black|Joan Cusack|Mike White|Sarah Silver...,Richard Linklater,He just landed the gig of his life: 5th grade.,"Fired from his band and hard up for cash, guit...",108,Comedy|Music,Paramount Pictures,10/3/2003,6.6,2003,96282949
1571,tt0377092,17000000,129042871,Mean Girls,Lindsay Lohan|Rachel McAdams|Tim Meadows|Ana G...,Mark Waters,Welcome to girl world.,"Cady Heron is a hit with The Plastics, the A-l...",97,Comedy,Paramount Pictures,4/30/2004,6.8,2004,112042871
1026,tt1645170,65000000,179379533,The Dictator,Sacha Baron Cohen|Sayed Badreya|Aasif Mandvi|M...,Larry Charles,kurd,The heroic story of a dictator who risks his l...,83,Comedy,Paramount Pictures,5/15/2012,5.9,2012,114379533
1117,tt0251127,50000000,177371441,How to Lose a Guy in 10 Days,Kate Hudson|Matthew McConaughey|Kathryn Hahn|A...,Donald Petrie,One of them is lying. So is the other.,"An advice columnist, Andie Anderson (Kate Huds...",116,Comedy|Romance,Paramount Pictures,2/7/2003,6.2,2003,127371441
335,tt1193138,25000000,163670000,Up in the Air,George Clooney|Vera Farmiga|Anna Kendrick|Jaso...,Jason Reitman,The story of a man ready to make a connection.,George Clooney plays the dry cynical character...,109,Drama|Romance,Paramount Pictures,9/5/2009,6.6,2009,138670000

In [42]:
answers['18'] = 'Domestic Disturbance'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
data19 = data.copy()
data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [44]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
data20 = data.copy()
data20 = data20[data20.production_companies.str.contains('Warner Bros')] # поиск фильмов Warner Bros
data20.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

In [46]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
data21 = data.copy()
data21.release_date = pd.to_datetime(data21.loc[:,'release_date'])
data21['month'] = data21.release_date.dt.month # создание отдельной колонки с месяцем
data21.groupby(['month'])['original_title'].count().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

In [48]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
data22 = data.copy()
data22.release_date = pd.to_datetime(data22.loc[:,'release_date']) # преобразование даты к стандартному виду
data22['month'] = data22.release_date.dt.month
data22 = data22[(data22.loc[:, 'month'] >= 6) & (data22.loc[:, 'month'] <=8)]
data22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               450 non-null    object
 1   budget                450 non-null    int64
 2   revenue               450 non-null    int64
 3   original_title        450 non-null    object
 4   cast                  450 non-null    object
 5   director              450 non-null    object
 6   tagline               450 non-null    object
 7   overview              450 non-null    object
 8   runtime               450 non-null    int64
 9   genres                450 non-null    object
 10  production_companies  450 non-null    object
 11  release_date          450 non-null    datetime64[ns]
 12  vote_average          450 non-null    float64
 13  release_year          450 non-null    int64
 14  month                 450 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 56.2+ KB

In [50]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
data23 = data.copy()
data23.release_date = pd.to_datetime(data23.loc[:,'release_date'])
data23['month'] = data23.release_date.dt.month
data23 = data23[(data23.loc[:, 'month']== 2) | (data23.loc[:, 'month']== 1) | (data23.loc[:, 'month'] == 12)]
data23.director = data23.director.str.split('|')
data23 = data23.explode('director')
data23.groupby(['director'])['original_title'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: original_title, Length: 358, dtype: int64

In [52]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
data24 = data.copy()
data24['length'] = data24.original_title.apply(lambda x: len(x)) # создание отдельной колонки с длинной строки
data24.production_companies = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
len_sum = data24.groupby('production_companies')['length'].sum().sort_values(ascending=False) # создание серии с суммами длин
companies = data24.production_companies.value_counts() # кол-во фильмов каждой студии
(len_sum / companies).sort_values()

Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Length: 1771, dtype: float64

In [54]:
answers['24'] = 'Four By Two Productions '

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
data25 = data.copy()
data25.overview= data25.overview.str.split() # преобразование каждой ячейки колонки в список слов
data25['len_word'] = data25.overview.apply(lambda x: len(x)) # подсчет кол-во слов
data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
sum_word = data25.groupby('production_companies')['len_word'].sum().sort_values(ascending=False)

companies25 = data25.production_companies.value_counts()
(sum_word / companies25).sort_values()

Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Henceforth                                13.0
Phantom Four                              13.0
London Boulevard                          13.0
                                         ...
Brookwell-McNamara Entertainment         156.0
Heineken Branded Entertainment           159.0
98 MPH Productions                       159.0
Room 9 Entertainment                     161.0
Midnight Picture Show                    175.0
Length: 1771, dtype: float64

In [56]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [58]:
data26 = data.copy()
data26 = data26.loc[data26.loc[:, 'vote_average'] > np.quantile(data26.vote_average, 0.99)]
data26.original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [59]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
data27 = data.copy()
pair = []
pair2 = []
data27.cast = data27.cast.str.split('|')
for i in range (0, data27.shape[0]):
    pair.append(list(it.combinations(data27.cast[i], 2))) # все возможные комбинации актеров для каждой ячейки
    
for sublist in pair: # преобразование к плоскому списку
    for j in sublist:
        pair2.append(j)
pair = pd.Series(pair2)
pair.value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Martin Henderson, Ice Cube)           1
(Maggie Gyllenhaal, Robert Duvall)     1
(Owen Wilson, Steve Coogan)            1
(Jodie Foster, Gerard Butler)          1
(Ben Affleck, Rosamund Pike)           1
Length: 18121, dtype: int64

In [61]:
answers['27'] = '(Daniel Radcliffe, Rupert Grint)'

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'tt1298650\tPirates of the Caribbean: On Stranger Tides',
 '2': '1157\ttt0279111\tGods and Generals',
 '3': '768\ttt1449283\tWinnie the Pooh',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'tt0499549 Avatar',
 '7': 'tt1210819 The Lone Ranger',
 '8': '1478',
 '9': 'tt0468569 The Dark Knight',
 '10': 'tt1210819 The Lone Ranger',
 '11': "('Drama', 782)",
 '12': "'Drama', 560",
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez ',
 '15': 'Emma Watson',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'Domestic Disturbance',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions ',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '(Daniel Radcliffe, Rupert Grint)'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27