In [65]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [68]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1283,tt1837703,28000000,8555008,The Fifth Estate,Benedict Cumberbatch|Dan Stevens|Daniel BrÃ¼hl...,Bill Condon,You can't expose the world's secrets without e...,A look at the relationship between WikiLeaks f...,128,Drama|Thriller,DreamWorks SKG|Participant Media|Reliance Ente...,10/11/2013,5.6,2013
1650,tt0377062,45000000,21009180,Flight of the Phoenix,Dennis Quaid|Tyrese Gibson|Giovanni Ribisi|Mir...,John Moore,"Out of the ashes, hope will rise.",When an Amacor oil rig in the Gobi Desert of M...,113,Action|Adventure|Drama|Thriller,Twentieth Century Fox Film Corporation|Davis E...,12/17/2004,5.4,2004
1018,tt1506999,23000000,33372606,Haywire,Gina Carano|Ewan McGregor|Michael Fassbender|B...,Steven Soderbergh,They left her no choice.,Mallory Kane is a highly trained operative who...,93,Thriller,Irish Film Board|Relativity Media,1/18/2012,5.5,2012
392,tt0963966,150000000,215283742,The Sorcerer's Apprentice,Nicolas Cage|Jay Baruchel|Monica Bellucci|Alfr...,Jon Turteltaub,It's The Coolest Job Ever.,Balthazar Blake is a master sorcerer in modern...,109,Fantasy|Adventure|Action|Comedy|Drama,Walt Disney Pictures|Jerry Bruckheimer Films|S...,7/13/2010,5.8,2010
1690,tt0413267,160000000,798958165,Shrek the Third,Mike Myers|Eddie Murphy|Cameron Diaz|Julie And...,Chris Miller|Raman Hui,Who's ready for Thirds?,The King of Far Far Away has died and Shrek an...,93,Fantasy|Adventure|Animation|Comedy|Family,DreamWorks Animation,5/17/2007,5.8,2007

In [45]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [73]:
answers = {} # создадим словарь для ответов

def dict_count(serious):
    # подсчитывает все элементы в серии. Возвращает словарь
    new_list = []
    count = {}
    for row in serious:
        new_list = list(row.split('|'))
        for genre in new_list:
            if genre in count:
                count[genre] += 1
            else:
                count[genre] = 1
    count = sorted(count.items(), key=lambda pair: pair[1] )
    return count

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [47]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'tt1298650	Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [48]:
data.loc[data.loc[:,'budget'] == data.loc[:,'budget'].max(), ['imdb_id', 'original_title'] ]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [49]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [50]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157	tt0279111	Gods and Generals'

In [51]:
data.loc[data.loc[:,'runtime'] == data.loc[:,'runtime'].max(), ['imdb_id', 'original_title'] ]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [52]:
data.loc[data.loc[:,'runtime'] == data.loc[:,'runtime'].min(), ['imdb_id', 'original_title'] ]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

In [53]:
answers['3'] = '768	tt1449283	Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [54]:
data.loc[:,'runtime'].mean()

109.6585494970884

In [55]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [56]:
data.loc[:,'runtime'].median()

107.0

In [57]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [58]:
Big_Profit_Ind = (data.loc[:, 'revenue'] - data.loc[:,'budget']).sort_values().index[-1]
data.iloc[Big_Profit_Ind,[0, 3]]

imdb_id           tt0499549
original_title       Avatar
Name: 239, dtype: object

In [59]:
answers['6'] = 'tt0499549 Avatar'

# 7. Какой фильм самый убыточный?

In [60]:
Min_Profit_Ind = (data.loc[:, 'revenue'] - data.loc[:,'budget']).sort_values().index[0]
data.iloc[Min_Profit_Ind,[0,3]]

imdb_id                 tt1210819
original_title    The Lone Ranger
Name: 1245, dtype: object

In [61]:
answers['7'] = 'tt1210819 The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [62]:
(data.loc[data.loc[:, 'revenue'] > data.loc[:, 'budget'], :]).shape

(1478, 14)

In [63]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [64]:
data9 = data.loc[data.loc[:,'release_year'] == 2008]
index9 = (data9.loc[:,'revenue'] -data9.loc[:, 'budget']).sort_values().index[-1]
data.iloc[index9]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
Name: 599, dtype: object

In [65]:
answers['9'] = 'tt0468569 The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [66]:
data10 = data.loc[(data.loc[:,'release_year'] >= 2012) & (data.loc[:,'release_year'] <= 2014)]
index10 = (data10.loc[:,'revenue'] -data10.loc[:, 'budget']).sort_values().index[0]
data.iloc[index10]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
Name: 1245, dtype: object

In [68]:
answers['10'] = 'tt1210819 The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [87]:
dict_count(data.loc[:, 'genres'])[-1]

('Drama', 782)

In [76]:
answers['11'] = "('Drama', 782)"

ВАРИАНТ 2

In [86]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [80]:
data12 = data.loc[data.loc[:, 'revenue'] > data.loc[:, 'budget']]
dict_count(data12.loc[:, 'genres'])

[('Documentary', 7),
 ('Western', 12),
 ('War', 41),
 ('History', 46),
 ('Music', 47),
 ('Mystery', 119),
 ('Animation', 120),
 ('Horror', 150),
 ('Fantasy', 188),
 ('Science Fiction', 195),
 ('Family', 226),
 ('Crime', 231),
 ('Romance', 242),
 ('Adventure', 337),
 ('Action', 444),
 ('Thriller', 446),
 ('Comedy', 551),
 ('Drama', 560)]

In [82]:
answers['12'] = "'Drama', 560"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [26]:
data13 = data.copy()
data13.director = data13.director.str.split('|')
data13 = data13.explode('director')
s = data13.groupby(data13.loc[:, 'director'])['revenue'].sum().idxmax()
s

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [5]:
answers['13'] = 'Peter Jackson'

NameError: name 'answers' is not defined

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [43]:
data14 = data.copy()
data14.director = data14.director.str.split('|')
data14 = data14.explode('director')
data_action = data14[data14.genres.str.contains('Action')]
data_action.director.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Wayne Kramer          1
Chad Stahelski        1
Stefen Fangmeier      1
Mabrouk El Mechri     1
Betty Thomas          1
Name: director, Length: 364, dtype: int64

In [44]:
answers['14'] = 'Robert Rodriguez '

NameError: name 'answer' is not defined

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [45]:
data15 = data.copy()
data15.cast = data15.cast.str.split('|')
data15 = data15.explode('cast')
q15 = data15.groupby(data15.loc[:, 'cast'])['revenue'].sum().idxmax()
q15

'Emma Watson'

In [ ]:
asnwers['15'] = 'Emma Watson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [52]:
data16 = data.copy()
data16 = data16[data.budget > data.budget.mean()]
data16.cast = data16.cast.str.split('|')
data16 = data16.explode('cast')
data16.cast.value_counts()

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Samuel L. Jackson     15
Eddie Murphy          15
                      ..
Rila Fukushima         1
Fausto Callegarini     1
Eleanor Tomlinson      1
Eliza Bennett          1
Rachel Hurd-Wood       1
Name: cast, Length: 1505, dtype: int64

In [ ]:
asnwer['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [75]:
data17 = data.copy()
data17 = data17[data17.cast.str.contains('Nicolas Cage')]
data17.genres = data17.genres.str.split('|')
data17 = data17.explode('genres')
data17.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Horror              1
War                 1
Romance             1
Name: genres, dtype: int64

In [76]:
answers['17'] = 'Action'

NameError: name 'answers' is not defined

# 18. Самый убыточный фильм от Paramount Pictures

In [107]:
data18 = data.copy()
data18['costs'] = data18.revenue - data18.budget
data18.production_companies = data18.production_companies.str.split('|')
data18 = data18.explode('production_companies')
data18 = data18.loc[data.loc[:, 'production_companies'] == 'Paramount Pictures']
data18.sort_values('costs', ascending=True)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,costs
587,tt0249478,75000000,54249294,Domestic Disturbance,John Travolta|Vince Vaughn|Teri Polo|Matt O'Le...,Harold Becker,He will do anything to protect his family.,A divorced father discovers that his 12-year-o...,89,Mystery|Thriller|Crime,Paramount Pictures,10/30/2001,5.4,2001,-20750706
436,tt0964517,25000000,9190869,The Fighter,Mark Wahlberg|Christian Bale|Amy Adams|Melissa...,David O. Russell,Every dream deserves a fighting chance.,"The Fighter, is a drama about boxer ""Irish"" Mi...",116,Drama,Paramount Pictures,12/17/2010,7.1,2010,-15809131
961,tt0261289,29000000,16930185,Serving Sara,Matthew Perry|Elizabeth Hurley|Vincent Pastore...,Reginald Hudlin,The One Thing That Could Bring Them Together I...,Serving Sara is a 2002 romantic comedy film wh...,100,Comedy|Romance,Paramount Pictures,8/20/2002,5.1,2002,-12069815
1533,tt0408985,45000000,38399961,Last Holiday,Queen Latifah|LL Cool J|Timothy Hutton|Giancar...,Wayne Wang,She always thought she was somebody special......,"After she's diagnosed with a terminal illness,...",112,Adventure|Comedy|Drama,Paramount Pictures,1/13/2006,6.4,2006,-6600039
1429,tt0408524,30000000,34252847,Bad News Bears,Billy Bob Thornton|Ken Medlock|Aman Johal|Greg...,Richard Linklater,The bases are loaded... so is the coach.,Morris Buttermaker is a burned-out minor leagu...,113,Comedy|Family,Paramount Pictures,7/22/2005,5.5,2005,4252847
896,tt0253754,60000000,67312826,Star Trek: Nemesis,Patrick Stewart|Jonathan Frakes|LeVar Burton|B...,Stuart Baird,A generation's final journey... begins.,En route to the honeymoon of William Riker to ...,117,Science Fiction|Action|Adventure|Thriller,Paramount Pictures,12/12/2002,6.1,2002,7312826
924,tt0264472,45000000,94935764,Changing Lanes,Ben Affleck|Samuel L. Jackson|Kim Staunton|Ton...,Roger Michell,"An ambitious lawyer, a desperate father, they ...",A rush-hour fender-bender on New York City's c...,89,Action|Adventure|Crime|Thriller,Paramount Pictures,4/7/2002,5.7,2002,49935764
911,tt0322802,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,6.2,2002,59282312
1518,tt0493430,11000000,72778712,Jackass Number Two,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Guess who just made number two?,Jackass Number Two is a compilation of various...,95,Action|Comedy|Documentary,Paramount Pictures,9/22/2006,6.4,2006,61778712
1104,tt0332379,35000000,131282949,The School of Rock,Jack Black|Joan Cusack|Mike White|Sarah Silver...,Richard Linklater,He just landed the gig of his life: 5th grade.,"Fired from his band and hard up for cash, guit...",108,Comedy|Music,Paramount Pictures,10/3/2003,6.6,2003,96282949
1571,tt0377092,17000000,129042871,Mean Girls,Lindsay Lohan|Rachel McAdams|Tim Meadows|Ana G...,Mark Waters,Welcome to girl world.,"Cady Heron is a hit with The Plastics, the A-l...",97,Comedy,Paramount Pictures,4/30/2004,6.8,2004,112042871
1026,tt1645170,65000000,179379533,The Dictator,Sacha Baron Cohen|Sayed Badreya|Aasif Mandvi|M...,Larry Charles,kurd,The heroic story of a dictator who risks his l...,83,Comedy,Paramount Pictures,5/15/2012,5.9,2012,114379533
1117,tt0251127,50000000,177371441,How to Lose a Guy in 10 Days,Kate Hudson|Matthew McConaughey|Kathryn Hahn|A...,Donald Petrie,One of them is lying. So is the other.,"An advice columnist, Andie Anderson (Kate Huds...",116,Comedy|Romance,Paramount Pictures,2/7/2003,6.2,2003,127371441
335,tt1193138,25000000,163670000,Up in the Air,George Clooney|Vera Farmiga|Anna Kendrick|Jaso...,Jason Reitman,The story of a man ready to make a connection.,George Clooney plays the dry cynical character...,109,Drama|Romance,Paramount Pictures,9/5/2009,6.6,2009,138670000

In [ ]:
answers[18] = 'Domestic Disturbance'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)