In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import itertools as it
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006
1610,tt0363547,28000000,102356381,Dawn of the Dead,Sarah Polley|Ving Rhames|Jake Weber|Mekhi Phif...,Zack Snyder,"When the undead rise, civilization will fall.",A group of surviving people take refuge in a s...,101,Fantasy|Horror|Action,New Amsterdam Entertainment|Strike Entertainme...,3/19/2004,6.7,2004
368,tt1053859,5000000,38610009,The Grudge 3,Johanna Braddy|Gil McKinney|Emi Ikehata|Jadie-...,Toby Wilkins,You can't escape the curse.,"Jake, the sole survivor of The Grudge 2 massac...",90,Horror|Thriller,Ghost House Pictures|Ozla Pictures|Stage 6 Films,5/12/2009,5.4,2009
593,tt0246544,40000000,27053815,The Musketeer,Catherine Deneuve|Mena Suvari|Stephen Rea|Tim ...,Peter Hyams,As you've never seen it before.,In Peter Hyams's adaptation of the famous Alex...,104,Action|Adventure|Drama,Crystal Sky Worldwide|MDP Worldwide|ApolloMedi...,9/7/2001,5.1,2001
1002,tt1446192,145000000,306941670,Rise of the Guardians,Chris Pine|Alec Baldwin|Jude Law|Isla Fisher|H...,Peter Ramsey,You better believe.,When an evil spirit known as Pitch lays down t...,97,Fantasy|Animation|Family,DreamWorks Animation,11/21/2012,6.9,2012

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

def dict_count(serious):
    # подсчитывает все элементы в серии. Возвращает словарь
    new_list = []
    count = {}
    for row in serious:
        new_list = list(row.split('|'))
        for genre in new_list:
            if genre in count:
                count[genre] += 1 
            else:
                count[genre] = 1 
    count = sorted(count.items(), key=lambda pair: pair[1] ) # сортировка словаря по значениям
    return count

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
data.loc[data.loc[:,'budget'] == data.loc[:,'budget'].max(), ['imdb_id', 'original_title'] ]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

In [7]:
answers['1'] = 'tt1298650	Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157	tt0279111	Gods and Generals'

In [9]:
data.loc[data.loc[:,'runtime'] == data.loc[:,'runtime'].max(), ['imdb_id', 'original_title'] ]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data.loc[data.loc[:,'runtime'] == data.loc[:,'runtime'].min(), ['imdb_id', 'original_title'] ]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

In [11]:
answers['3'] = '768	tt1449283	Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [12]:
data.loc[:,'runtime'].mean()

109.6585494970884

In [13]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.loc[:,'runtime'].median()

107.0

In [15]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
Big_Profit_Ind = (data.loc[:, 'revenue'] - data.loc[:,'budget']).sort_values().index[-1]
data.iloc[Big_Profit_Ind,[0, 3]]

imdb_id           tt0499549
original_title       Avatar
Name: 239, dtype: object

In [17]:
answers['6'] = 'tt0499549 Avatar'

# 7. Какой фильм самый убыточный?

In [18]:
Min_Profit_Ind = (data.loc[:, 'revenue'] - data.loc[:,'budget']).sort_values().index[0]
data.iloc[Min_Profit_Ind,[0,3]]

imdb_id                 tt1210819
original_title    The Lone Ranger
Name: 1245, dtype: object

In [19]:
answers['7'] = 'tt1210819 The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
(data.loc[data.loc[:, 'revenue'] > data.loc[:, 'budget'], :]).shape

(1478, 14)

In [21]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data9 = data.loc[data.loc[:,'release_year'] == 2008]
index9 = (data9.loc[:,'revenue'] - data9.loc[:, 'budget']).sort_values().index[-1]
data.iloc[index9]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
Name: 599, dtype: object

In [23]:
answers['9'] = 'tt0468569 The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
data10 = data.loc[(data.loc[:,'release_year'] >= 2012) & (data.loc[:,'release_year'] <= 2014)] 
index10 = (data10.loc[:,'revenue'] - data10.loc[:, 'budget']).sort_values().index[0]
data.iloc[index10]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
Name: 1245, dtype: object

In [25]:
answers['10'] = 'tt1210819 The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [26]:
dict_count(data.loc[:, 'genres'])[-1]

('Drama', 782)

In [27]:
answers['11'] = "('Drama', 782)"

ВАРИАНТ 2

In [28]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
data12 = data.loc[data.loc[:, 'revenue'] > data.loc[:, 'budget']]
dict_count(data12.loc[:, 'genres'])

[('Documentary', 7),
 ('Western', 12),
 ('War', 41),
 ('History', 46),
 ('Music', 47),
 ('Mystery', 119),
 ('Animation', 120),
 ('Horror', 150),
 ('Fantasy', 188),
 ('Science Fiction', 195),
 ('Family', 226),
 ('Crime', 231),
 ('Romance', 242),
 ('Adventure', 337),
 ('Action', 444),
 ('Thriller', 446),
 ('Comedy', 551),
 ('Drama', 560)]

In [30]:
answers['12'] = "'Drama', 560"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
data13 = data.copy()
data13.director = data13.director.str.split('|')
data13 = data13.explode('director')
s = data13.groupby(data13.loc[:, 'director'])['revenue'].sum().idxmax()
s

'Peter Jackson'

In [32]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
data14 = data.copy()
data14.director = data14.director.str.split('|')
data14 = data14.explode('director') # преобразование строки к виду: 1 элемент в ячейке
data_action = data14[data14.genres.str.contains('Action')]
data_action.director.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Peter Spierig         1
Jimmy Hayward         1
Noam Murro            1
James Gunn            1
Ron Underwood         1
Name: director, Length: 364, dtype: int64

In [34]:
answers['14'] = 'Robert Rodriguez '

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [64]:
data15 = data.copy()
data15 = data15.loc[data15.loc[:, 'release_year'] == 2012]
data15.cast = data15.cast.str.split('|')
data15 = data15.explode('cast')
q15 = data15.groupby(data15.loc[:, 'cast'])['revenue'].sum().idxmax()
q15

'Chris Hemsworth'

In [36]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
data16 = data.copy()
data16 = data16[data.budget > data.budget.mean()]
data16.cast = data16.cast.str.split('|')
data16 = data16.explode('cast')
data16.cast.value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Ben Mendelsohn        1
Ayelet Zurer          1
Deobia Oparei         1
Mackenzie Crook       1
Leighton Meester      1
Name: cast, Length: 1505, dtype: int64

In [38]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
data17 = data.copy()
data17 = data17[data17.cast.str.contains('Nicolas Cage')] # фильмы только с Nicolas Cage
data17.genres = data17.genres.str.split('|')
data17 = data17.explode('genres')
data17.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

In [40]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [80]:
data18 = data.copy()
data18 = data18[data18.production_companies.str.contains('Paramount Pictures')] # фильмы от Paramount Pictures
data18['costs'] = data18.revenue - data18.budget # создине колонки с убытками
data18.sort_values('costs', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,costs
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [42]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
data19 = data.copy()
data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [44]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
data20 = data.copy()
data20 = data20[data20.production_companies.str.contains('Warner Bros')] # поиск фильмов Warner Bros
data20.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

In [46]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
data21 = data.copy()
data21.release_date = pd.to_datetime(data21.loc[:,'release_date'])
data21['month'] = data21.release_date.dt.month # создание отдельной колонки с месяцем
data21.groupby(['month'])['original_title'].count().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

In [48]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
data22 = data.copy()
data22.release_date = pd.to_datetime(data22.loc[:,'release_date']) # преобразование даты к стандартному виду
data22['month'] = data22.release_date.dt.month
data22 = data22[(data22.loc[:, 'month'] >= 6) & (data22.loc[:, 'month'] <=8)]
data22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               450 non-null    object
 1   budget                450 non-null    int64
 2   revenue               450 non-null    int64
 3   original_title        450 non-null    object
 4   cast                  450 non-null    object
 5   director              450 non-null    object
 6   tagline               450 non-null    object
 7   overview              450 non-null    object
 8   runtime               450 non-null    int64
 9   genres                450 non-null    object
 10  production_companies  450 non-null    object
 11  release_date          450 non-null    datetime64[ns]
 12  vote_average          450 non-null    float64
 13  release_year          450 non-null    int64
 14  month                 450 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 56.2+ KB

In [50]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
data23 = data.copy()
data23.release_date = pd.to_datetime(data23.loc[:,'release_date'])
data23['month'] = data23.release_date.dt.month
data23 = data23[(data23.loc[:, 'month']== 2) | (data23.loc[:, 'month']== 1) | (data23.loc[:, 'month'] == 12)]
data23.director = data23.director.str.split('|')
data23 = data23.explode('director')
data23.groupby(['director'])['original_title'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: original_title, Length: 358, dtype: int64

In [52]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
data24 = data.copy()
data24['length'] = data24.original_title.apply(lambda x: len(x)) # создание отдельной колонки с длинной строки
data24.production_companies = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
len_sum = data24.groupby('production_companies')['length'].sum().sort_values(ascending=False) # создание серии с суммами длин
companies = data24.production_companies.value_counts() # кол-во фильмов каждой студии
(len_sum / companies).sort_values()

Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Length: 1771, dtype: float64

In [54]:
answers['24'] = 'Four By Two Productions '

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
data25 = data.copy()
data25.overview= data25.overview.str.split() # преобразование каждой ячейки колонки в список слов
data25['len_word'] = data25.overview.apply(lambda x: len(x)) # подсчет кол-во слов
data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
sum_word = data25.groupby('production_companies')['len_word'].sum().sort_values(ascending=False)

companies25 = data25.production_companies.value_counts()
(sum_word / companies25).sort_values()

Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Henceforth                                13.0
Phantom Four                              13.0
London Boulevard                          13.0
                                         ...
Brookwell-McNamara Entertainment         156.0
Heineken Branded Entertainment           159.0
98 MPH Productions                       159.0
Room 9 Entertainment                     161.0
Midnight Picture Show                    175.0
Length: 1771, dtype: float64

In [56]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [58]:
data26 = data.copy()
data26 = data26.loc[data26.loc[:, 'vote_average'] > np.quantile(data26.vote_average, 0.99)]
data26.original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [59]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [85]:
data27 = data.copy()
pair = []
pair2 = []
data27.cast = data27.cast.str.split('|')
for i in range (0, data27.shape[0]):
    pair.append(list(it.combinations(data27.cast[i], 2))) # все возможные комбинации актеров для каждой ячейки
    
for sublist in pair: # преобразование к плоскому списку
    for j in sublist:
        pair2.append(j)
pair = pd.Series(pair2)
pair.value_counts()

(Daniel Radcliffe, Rupert Grint)         8
(Daniel Radcliffe, Emma Watson)          8
(Rupert Grint, Emma Watson)              7
(Ben Stiller, Owen Wilson)               6
(Johnny Depp, Helena Bonham Carter)      6
                                        ..
(Will Ferrell, Musetta Vander)           1
(Tim Roth, Andrei Dementiev)             1
(Kurt Russell, Sydney Tamiia Poitier)    1
(Tom Cruise, Colin Farrell)              1
(Rose Byrne, Maya Rudolph)               1
Length: 18121, dtype: int64

In [61]:
answers['27'] = '(Daniel Radcliffe, Rupert Grint)'

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'tt1298650\tPirates of the Caribbean: On Stranger Tides',
 '2': '1157\ttt0279111\tGods and Generals',
 '3': '768\ttt1449283\tWinnie the Pooh',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'tt0499549 Avatar',
 '7': 'tt1210819 The Lone Ranger',
 '8': '1478',
 '9': 'tt0468569 The Dark Knight',
 '10': 'tt1210819 The Lone Ranger',
 '11': "('Drama', 782)",
 '12': "'Drama', 560",
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez ',
 '15': 'Emma Watson',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'Domestic Disturbance',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions ',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '(Daniel Radcliffe, Rupert Grint)'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [6]:
data27 = data.copy()
comb = []
pair2 = []
data27.cast = data27.cast.str.split('|')
for i in range (0, data27.shape[0]):
    comb.append(list(it.combinations(data27.cast[i], 2))) # все возможные комбинации актеров для каждой ячейки
    
for sublist in comb: # преобразование к плоскому списку
    for 
pair = pd.Series(pair2)
pair.value_counts()

[ , C, N, a, a, c, e, g, i, l, o, s]                   108
[ ,  , ., J, L, S, a, a, c, e, k, l, m, n, o, s, u]    108
[ , D, M, a, a, m, n, o, t, t]                         104
[ ,  , D, N, R, b, e, e, i, o, o, r, r, t]             103
[ , B, W, c, e, i, i, l, l, r, s, u]                   100
                                                      ...
[ , K, M, a, c, e, e, h, i, l, l, l, y]                  4
[ , F, W, a, e, e, k, k, l, n, r, r]                     4
[ , J, S, a, c, e, e, n, o, t, t, t, t]                  4
[ , D, W, a, e, e, i, i, l, l, l, n, y]                  4
[ , B, D, a, a, d, e, i, i, l, l, n, n, w]               3
Length: 3404, dtype: int64